<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer HTML</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- se recomienda poner esta linea al final del HEAD-->
</head>
<body>
    <h1>La princesa más valiente</h1>
    
    <h4>soy un h4</h4>

    <img src="/images/leia.jpg"> <strong>Esto es un texto en negrilla</strong>

    <p class="parrafo-destacado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, eaque. Doloremque, quas. Qui molestiae, temporibus optio nihil esse provident odio assumenda voluptate veniam natus nobis sint ea tenetur officiis eos.</p>

    <p>Lorem ipsum dolor sit, <strong>Esto es un texto en negrilla</strong> consectetur adipisicing elit. Vero architecto quod, dignissimos repudiandae tempora, rerum provident voluptates eius quidem necessitatibus exercitationem, cum reiciendis cupiditate commodi ratione minima facilis veritatis minus.</p>
     
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum placeat velit ab laudantium neque enim ea alias nulla similique suscipit sapiente consectetur porro, veniam voluptates voluptatem, aut, repellat tenetur temporibus!</p>
    
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 4</li>
        <li>item 5</li>
        <li>item 6</li>
    </ul>

    <a href="https://www.google.com/">Ir a Google</a>

</body>
</html>